	{% extends "base.html" %}
	{% load static %}

	{% block content %}

	<!-- start #header -->
	{% include "content/header.html" %}
	<!-- #header -->
	
	<!-- start banner Area -->
	 {% include "Home_page/home_landing.html" %}
	<!-- End banner Area -->
	
	<!-- Start home-about Area -->
	 {% include "Home_page/home_about.html" %}
	<!-- End home-about Area -->
	
	<!-- Start services Area -->
	 {% include "Home_page/home_services.html" %}
	<!-- End services Area -->
	
	<!-- Start fact Area -->
	 {% include "Home_page/home_counter.html" %}
	<!-- end fact Area -->
	
	<!-- Start portfolio-area Area -->
	 {% include "Home_page/home_portfolio.html" %}
	<!-- End portfolio-area Area -->
	
	<!-- Start testimonial Area -->
	 {% include "Home_page/home_testimonial.html" %}
	<!-- End testimonial Area -->
	
	<!-- Start price Area -->
	 {% include "Home_page/home_pricing.html" %}
	<!-- End price Area -->
	
	<!-- Start recent-blog Area -->
	 {% include "Home_page/home_blog.html" %}
	<!-- end recent-blog Area -->
	
	<!-- Start brands Area -->
	 {% include "Home_page/home_brand.html" %}
	<!-- End brands Area -->
	
	<!-- start footer Area -->
	 {% include "content/footer.html" %}
	<!-- End footer Area -->
	{% endblock %}
			