{% load static %}
<section class="timeline pb-120">
    <div class="text-center">
        <div class="menu-content pb-70">
            <div class="title text-center">
                <h1 class="mb-10">My Qualifications</h1>
                <p>Who are in extremely love with eco friendly system.</p>
            </div>
        </div>
    </div>
    <ul>
        <li>
            <div class="content">
                <h4>
                    <time>Masters in Graphics & Fine Arts</time>
                </h4>
                <p>
                    <b>Session:</b> 2010-11</p>
                <p>
                    <b>Result:</b> 3.78 (In the Scale of 4.00)</p>
            </div>
        </li>
        <li>
            <div class="content">
                <img class="img-fluid mx-auto d-block mb-30" src={% static "img/about/c-logo.png" %} alt="">
                <h4>
                    <time>Creative Content Developer</time>
                </h4>
                <p>July 2015 to Present</p>
            </div>
        </li>
        <li>
            <div class="content">
                <h4>
                    <time>Bachelor in Graphics & UI/UX</time>
                </h4>
                <p>
                    <b>Session:</b> 2006-09</p>
                <p>
                    <b>Result:</b> 3.40 (In the Scale of 4.00)</p>
            </div>
        </li>
        <li>
            <div class="content">
                <img class="img-fluid mx-auto d-block mb-30" src={% static "img/about/c-logo.png" %} alt="">
                <h4>
                    <time>Senior UI/UX Designer</time>
                </h4>
                <p>July 2015 to Present</p>
            </div>
        </li>
        <li>
            <div class="content">
                <h4>
                    <time>Diploma in Fine Arts & Printing</time>
                </h4>
                <p>
                    <b>Session:</b> 2003-06</p>
                <p>
                    <b>Result:</b> 4.94 (In the Scale of 5.00)</p>
            </div>
        </li>
    </ul>
</section>