{% load static %}
<section class="faq-area pb-120">
<div class="container">
<div class="row d-flex justify-content-center">
    <div class="menu-content pb-70 col-lg-8">
        <div class="title text-center">
            <h1 class="mb-10">Frequently Asked Questions</h1>
            <p>When someone does something that they know that they shouldn’t do, did they really have a choice. Maybe
                what I mean to say is did they really have a chance. You can take two people.</p>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-lg-8">
        <dl class="accordion">
            <dt>
                <a href="">Dude You Re Getting A Telescope</a>
            </dt>
            <dd>
                Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque mattis, leo quam aliquet diam, congue laoreet
                elit metus eget diam. Proin ac metus diam.
            </dd>
            <dt>
                <a href="">The Basics Of Buying A Telescope</a>
            </dt>
            <dd>
                Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.
                leo quam aliquet diam, congue laoreet elit metus eget diam.
            </dd>
            <dt>
                <a href="">Astronomy Binoculars A Great Alternative</a>
            </dt>
            <dd>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. Proin
                ac metus diam.
            </dd>
            <dt>
                <a href="">Do Your Self Realizations Quickly Fade</a>
            </dt>
            <dd>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. Proin
                ac metus diam.
            </dd>
            <dt>
                <a href="">Success Steps For Your Personal Or Business Life</a>
            </dt>
            <dd>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. Proin
                ac metus diam.
            </dd>
        </dl>

    </div>
</div>
</div>
</section>